<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest - Talkwiz</title>

    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <main>
        <div class="panel">
            <div class="content">
                <h1 class="title">Welcome to TalkWiz</h1>
                <p>The ultimate platform for meeting new people and exploring new interests! With TalkWiz, you can be
                    paired
                    randomly with other users for a one-on-one conversation. You can also customize your experience and
                    find
                    people who share your interests and age group.</p>
                <p>The best part? Your chats are anonymous, so you can feel safe and secure while chatting
                    with
                    strangers. You can even add someone you like to your private chat box and chat with them anytime you
                    want!
                    However, we do recommend that you refrain from sharing personal information with anyone on the
                    platform.</p>
                <p>At TalkWiz, we take user safety seriously. That's why we have strict Terms of Service and Community
                    Guidelines in place to ensure that everyone can have a positive and respectful experience. If you
                    notice any
                    rule-breaking behavior from other users, you can report them.</p>
                <p>On the other hand, if someone is bothering you, you can block them with just one click. This will
                    ensure thatyou don't get paired with them again in the future.</p>
                <p class="bold">TalkWiz is only for users who are 18 or older. </p>
                <p class="bold">We are recommend that you don't use your real name as your username for added privacy.
                </p>
                <p class="ending">Let's start meeting new people and exploring your interests in a safe and fun way!</p>
                <div class="small-panel">
                    <form>
                        <div class="interest">
                            <h4>Let's start chatting</h3>
                                <div class="button-container">
                                    <button class="btn" id="start" type="submit"><a href="text_chat">Text chat</a></button>
                                    <button class="btn" id="start" type="submit"><a href="video_chat">Video
                                            chat</a></button>
                                </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </main>

    <footer>
        &copy; Tlkzin - 2023
    </footer>

</body>

</html>
